@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8fafc;
}

input, button {
    font-size: 1rem;
}

button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3182ce;
}

.card {
    background-color: #f8f9fa;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
